@using Microsoft.AspNetCore.Http

@using eInfrastructure.Entities

@using eInfrastructure.Models

@using eInfrastructure.Models.Carrito

@using eInfrastructure.Languages

@inject IHttpContextAccessor httpContextAccessor

@{

    Localization language = new Localization(httpContextAccessor);

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = language.getText("lbTusPedidos", "Carrito");

    List<Carrito> ListaPedidos = ViewBag.ListaCarrito as List<Carrito>;

    string estadoDoc = "";

    string urlPago = "";

    string EstadosCarrito = language.getText("lbEstadosCarrito", "Carrito");
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#pendiente" class="nav-link active" data-bs-toggle="tab">@EstadosCarrito.Split(";")[0] <span class="badge bg-warning">@ListaPedidos.Where(pp => pp.Estado == EstadoCarritoModel.Pendiente).GroupBy(pp => pp.DocIDAdamsPay).Count()</span></a>
    </li>
    <li class="nav-item">
        <a href="#creada-deuda" class="nav-link" data-bs-toggle="tab">@EstadosCarrito.Split(";")[1] <span class="badge bg-warning">@ListaPedidos.Where(pp => pp.Estado == EstadoCarritoModel.CreadaDeuda).GroupBy(pp => pp.DocIDAdamsPay).Count()</span></a>
    </li>
    <li class="nav-item">
        <a href="#pagado" class="nav-link" data-bs-toggle="tab">@EstadosCarrito.Split(";")[2] <span class="badge bg-warning">@ListaPedidos.Where(pp => pp.Estado == EstadoCarritoModel.Pagado).GroupBy(pp => pp.DocIDAdamsPay).Count()</span></a>
    </li>
</ul>


<div class="tab-content mt-5">
    <div class="tab-pane fade show active" id="pendiente">
        @await Html.PartialAsync("PedidosLista.cshtml", ListaPedidos.Where(pp => pp.Estado == EstadoCarritoModel.Pendiente).ToList())
    </div>

    <div class="tab-pane fade" id="creada-deuda">
        @await Html.PartialAsync("PedidosLista.cshtml", ListaPedidos.Where(pp => pp.Estado == EstadoCarritoModel.CreadaDeuda).ToList())
    </div>
    
    <div class="tab-pane fade" id="pagado">
        @await Html.PartialAsync("PedidosLista.cshtml", ListaPedidos.Where(pp => pp.Estado == EstadoCarritoModel.Pagado).ToList())
    </div>

</div>